:root{
	--t-clr: #FFF4E6;
	--gr: #367E18;
}



*{
	box-sizing: border-box;
	text-decoration: none;
	-webkit-scroll-behavior:smooth;
	scroll-behavior: smooth;
}
body{
	height: 100%;
	-webkit-overscroll-behavior: none;
	overscroll-behavior: none;
	color: var(--t-clr);
}
.break{
	padding-left: calc(10%);
	padding-right: calc(10%);
}