.nav-container{
	position: absolute;
	width: 100%;
	top: 0;
	left: 0;
	display: flex;
	padding-top: 10px;
	z-index: 1000;
}

.nav-logo {

	& a {
		display: flex;
		gap: .1rem;

		& p {
			font-family: FontLogo;
			font-size: 4rem;
			margin: 0px;
			margin-top: 8px;
			color: var(--t);
		}
	}
}

.nav-link {
	position: relative;
	margin-left: auto;

	& .nav-bar {
		margin: 0px;
		padding: 0px;
		display: flex;
		gap: 2rem;

		& li{
			list-style: none;

			& a{
				color: var(--t);
				font-weight: bold;
			}
		}
	}
}
.intro-container {
	width: 100vw;
	height: 200vh;

	& .intro{
		position: sticky;
		top: 0;
		width: 100%;
		height: 100vh;
		overflow: hidden;

		& img, & video{
			position: absolute;
			width: 100%;
			scale: .5;
			top: 50%;
			left: 50%;
			translate: -50% -50%;
		}
	}
}

.moka-folio{
	width: 100%;
	height: 100vh;
	color: var(--b);
	overflow: hidden;
	background-color: var(--t);

	& .moka-bandroll{
		display: flex;
		flex-direction: columns;
		gap: 3rem;
		font-family: FontLogo;
		overflow: hidden;

		& p{
			font-size: 200px;
			margin: 0px;
		}
	}

	& .folio-bandroll{
		display: flex;
		flex-direction: columns;
		gap: 3rem;
		font-family: FontHead;
		translate: -100% 0;

		& p{
			font-size: 200px;
			margin: 0px;
		}
	}
}

.i-am-good-at {
	width: 100%;
	height: 300vh;
	overflow: hidden;
	background-color: var(--t);


	.text-container {
		width: 100%;

		.i-am {
			display: inline-flex;
		}

		.flowers-good-at{
			display: flex;

			.flowers{
				display: flex;
				gap: 3rem;

				& img{
					width: 5vw;
				}
			}

			.good-at {
				position: relative;
				display: inline-flex;
/*				background-color: orange;*/
				margin-left: auto;
			}
		}
	}

	& p{
		font-family: FontHead;
		color: var(--gr);
		font-size: 250px;
		margin: 0px;
	}


}

.sticker{
	width: 100%;
	height: 200vh;
	overflow: hidden;
	background-color: var(--t);

	.sticker-container{
		width: 100%;
		height: 100vh;
/*		background-color: orange;*/

		& img{
			width: 400px;
			position: absolute;
			translate: -50% -50%;
		}
		& .sticker1{
			width: 320px;
			translate: 15vw 30vh;
			rotate: -26deg;
		}
		& .sticker2{
			top: 25%;
			left: 73%;
			rotate: 23deg;
		}
		& .sticker3{
			width: 280px;
			top: 55%;
			left: 60%;
			rotate: -23deg;
		}
		& .sticker4{
			top: 70%;
			left: 80%;
			rotate: -23deg;
		}
		& .sticker5{
			width: 320px;
			top: 72%;
			left: 35%;
			rotate: 23deg;
		}
		& .sticker6{
			width: 220px;
			top: 20%;
			left: 50%;
			rotate: 5deg;
		}
	}



}




.test{
	position: relative;
	width: 100%;
	height: auto;
	background-color: var(--t);
	color: var(--b);
	overflow: hidden;

	& .test-sticky-text {
		position: absolute;
		display: block;
		width: 100vw;
		left: 0;
		z-index: 1;
		overflow: hidden;

		& .text-fill, & .text-stroke {
			display: block;
			width: auto;
			height: 200px;
			overflow-y: hidden;
			overflow-x: inherit;
		}

		& .text-fill {
/*			background-color: blueviolet;*/
			position: relative;
			& div{
				position: relative;
				display: flex;
				width: auto;
				gap: 10rem;
			}
		}

		& .text-stroke {
/*			background-color: orange;*/

			& div{
				display: flex;
				gap: 10rem;

				& p{
					letter-spacing: 5px;
					color: var(--t);
					text-shadow:
						1px 	1px 	#000,
						-1px 	-1px 	#000,
						1px 	-1px 	#000,
						-1px 	1px 	#000,
						2px		0 		#000,
						0 		2px 	#000,
						-2px 	0 		#000,
						0 		-2px 	#000;

				}
			}
		}

		& p {
			display: inline;
			white-space: nowrap;
			font-family: FontHead;
			font-size: 200px;
			font-weight: bold;
			margin: 0px;
			letter-spacing: 1px;
			margin-top: -65px;
		}
	}

	& .showreel-container {
		position: relative;
		padding-top: 60vh;
		padding-bottom: 25vh;
		z-index: 10;

		& div {
			width: 70%;


			& img, & video {
				width: 100%;
				box-shadow: 6px 5px 15px rgba(0, 0, 0, .3);
			}
		}
		& div:not(:last-child) {
			margin-bottom: 90vh;
		}
		& div:nth-child(1) {
			margin-left: auto;
			margin-right: auto;
		}
		& div:nth-child(2) {
			margin-left: auto;
		}
		& div:nth-child(3) {
			margin-right: auto;
		}
	}
}

.test2 {
	position: relative;
	width: 100%;
	height: auto;
	color: var(--b);
	overflow: hidden !important;

	& .content {
		position: relative;
		padding-top: 50vh;
		z-index: 10;
		color: var(--t);

		& .bla-bla {
			margin-bottom: 50vh;
			text-align: center;
			font-size: 40px;
			font-weight: bold;
		}

		& div {
			width: 100%;
			font-size: 200px;
			font-weight: bold;
			text-align: center;
			font-family: FontHead;

			& p{
				font-family: inherits;
				font-size: inherits;
			}
		}
		& div:not(:last-child){
			margin-bottom: 70vh;
		}

		& .inspired {
			text-align: right;
		}

		& .focused {
			text-align: left;
			margin-bottom: 40vh;
		}
	}


	& .test-sticky-imgs {
		position: absolute;
		top: 0;
		left: 0;
		width: 100vw;
		height: 100vh;
		overflow: hidden;
		z-index: 1;

		& .test-sticky-imgs-zoom{
			width: 100vw;
			height: 100vh;
			scale: 1.5;
			overflow: hidden;

			& .test-sticky-imgs-move{
				position: relative;
				top: -50vh;
				width: 100%;
				height: 150vh;
				overflow: hidden;

				& img {
					position: absolute;
					width: auto;
					height: 100%;
					top: 50%;
					left: 50%;
					translate: -50% -50%;
				}
			}
		}
	}
}