.navi{
	position: relative;
	display: flex;
	padding-bottom: 30px;
}
.navlogo{
	position: relative;
	display: block;
	width: 30%;
	max-width: 120px;
}
.navlogo img{
	position: relative;
	display: block;
	width: 100%;
	height: auto;
}
.navlink{
	position: relative;
	display: flex;
	margin-left: auto;
}
.navlink a{
	position: relative;
	display: inline-flex;

	font-family: Fontt;
	color: var(--t);
	align-self: flex-end;
	align-items: center;
	align-content: center;
	line-height: 1;
	text-decoration: none;
}
.navlink a:nth-child(2){
	margin-left: 35px;
}
/*.navlink a::after{
	content: "";
	position: relative;
	display: block;
	bottom: 0px;
	width: 100%;
	height: 2px;
	border-radius: 10000px;
	background-color: var(--t);
	transform: scale(0);
	transform-origin: right;
	transition: transform .4s ease;
}
.navlink a:hover::after{
	transform: scale(1);
	transform-origin: left;
	transition: transform .4s ease;
}
.navlink a.checked:after{
	transform: scale(1);
}*/
.navlink a p{
	position: relative;
	display: block;
	z-index: 999;
	margin: 0px;
}
.navlink a.checked{
	color: var(--gr);
}
.navlink a img{
	position: absolute;
	display: none;
	align-self: center;
	width: auto;
	height: 400%;
	top: 45%;
	left: 50%;
	transform: translate3d(-50%, -50%, 0px);
	z-index: 100;
}
.navlink a.checked img{
	display: block;
}
.navlinksm{
	position: relative;
	display: flex;
	width: 30px;
	margin-left: auto !important;
	align-items: center;
}
.navlinksm nav{
	position: relative;
	display: flex;
	width: 100%;
	height: 50%;
	align-content: center;
	align-items: center;
	cursor: pointer;
}
.navlinksm span{
	position: absolute;
	display: block;
	width: 100%;
	height: 2.5px;
	border-radius: 100px;
	background-color: var(--t);
	align-self: flex-start;
	transform-origin: left;
	transition: all .4s ease;
}
.navlinksm span:nth-child(2){
	align-self: flex-end;
}
.navlinksm nav.checked span{
	transform: rotate(45deg);
	height: 5px;
}






.foot{
	position: relative;
	display: flex;
	flex-direction: column;
	width: 100%;
	height: 100vh;
	overflow: hidden;
	padding-top: 10vh;
}
.foot h1{
	font-family: Fonth;
}
.foot1{
	position: relative;
	display: flex;
	width: 100%;
	height: 50%;
}
.contactlink{
	position: relative;
	display: flex;
	width: 100%;
	padding-right: 10%;
	margin-top: 70px;
}
.contactlink a{
	position: relative;
	display: inline-block;
	color: var(--t);
	text-decoration: none;
}
.contactlink a::after{
	content: "";
	position: relative;
	display: block;
	bottom: 0px;
	width: 100%;
	height: 2px;
	border-radius: 10000px;
	background-color: var(--t);
	transform: scale(0);
	transform-origin: right;
	transition: transform .4s ease;
}
.contactlink a:hover::after{
	transform: scale(1);
	transform-origin: left;
	transition: transform .4s ease;
}
.circleicon{
	position: relative;
	display: block;
	width: 100%;
	height: auto;
}
.circleicon .circle{
	position: absolute;
	display: inline-flex;
	top: 50%;
	left: 50%;
	transform: translate3d(-50%, -50%, 0px);
}
.circleicon .circle svg{
	transform-origin: center;
	animation: spinsocks 18s linear infinite;
	fill: var(--t);
	font-size: 65px;
	font-family: Fonth;
}
.circleicon .circle .textm{
	position: absolute;
	display: block;
	font-family: Fontl;
	margin: 0px;
	font-size: 150px;
	top: 50%;
	left: 50%;
	transform: translate3d(-50%, -50%, 0px);
}
.foot2{
	position: relative;
	display: block;
	width: 100%;
	height: 100%;
}
.footmail{
	position: absolute;
	display: flex;
	width: 100%;
	top: 50%;
	left: 50%;
	transform: translate3d(-50%, -50%, 0px);
}
.arrow{
	margin-right: 30px;
}
.mail{
	font-family: Fonth;
}
.mail h3{
	font-size: 3vw;
}
.footsm{
	padding-top: 3vh;
}
.footsm .contactlink{
	margin-top: 35px;
}
.circleiconsm{
	position: relative;
	display: block;
	width: 100%;
	height: auto;
	padding: 50px 0px;
}
.circleiconsm .circle{
	position: relative;
	display: inline-flex;
	top: 50%;
	left: 50%;
	transform: translate3d(-50%, -50%, 0px);
}
.circleiconsm .circle svg{
	transform-origin: center;
	animation: spinsocks 18s linear infinite;
	fill: var(--t);
	font-size: 65px;
	font-family: Fonth;
	user-select: none;
	pointer-events: none;
}
.circleiconsm .circle .textm{
	position: absolute;
	display: block;
	font-family: Fontl;
	margin: 0px;
	font-size: 150px;
	top: 50%;
	left: 50%;
	transform: translate3d(-50%, -50%, 0px);
}
.arrow, .arrowsm{
	fill: none;
	stroke: #fff4e6;
	stroke-linecap: round;
	stroke-width:5;
}
.footsm h1{
	font-size: 10.9vw;
}
.mailsm h3{
	font-size: 5.5vw;
}

.navicontainer{
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	display: block;
	width: 100vw;
	height: calc((var(--sum))*100vh);
	z-index: 1000000000000;
	pointer-events: none;
}
.navicontainer .navisticky{
	position: -webkit-sticky;
	position: sticky;
	display: block;
	top: 50px;
	display: block;
	width: 100%;
	pointer-events: auto;
}
.foooter .sticky{
	height: auto;
	background-color: var(--gr) !important;
}
.bgoverlayscrollx{
	position: absolute;
	display: inline-block;
	top: 0 !important;
	left: 0 !important;
	transform: none !important;
	opacity: .3;
	mix-blend-mode: screen;
}
.bgoverlayscrollx source{
}