:root{
	--t-clr: #FFF4E6;
	--gr: #367E18;
}



*{
	box-sizing: border-box;
	text-decoration: none;
	-webkit-scroll-behavior:smooth;
	scroll-behavior: smooth;
}
body{
	background-color: var(--gr);
	color: var(--t-clr);
	overflow-x: hidden;
}
.break{
	padding-left: calc(10%);
	padding-right: calc(10%);
}