@font-face{
	font-family: FontText1;
	src: url(../fonts/Poppins-Regular.ttf);
	font-weight: 400;
	font-style: normal;
}
@font-face{
	font-family: FontText1;
	src: url(../fonts/Poppins-Medium.ttf);
	font-weight: 600;
	font-style: normal;
}
@font-face{
	font-family: FontText1;
	src: url(../fonts/Poppins-Bold.ttf);
	font-weight: 700;
	font-style: normal;
}


:root {
	--blue: #3252F4;
	--pink: #FF78C4;
	--padding: 300px;
}
h2 {
	font-family: FontHead;
	font-size: 27px;
}

body {
	background-color: var(--t);
}

.section1 {
	position: relative;
	display: flex;
	width: 100%;
	height: 100vh;
	background-color: var(--blue);
	align-items: flex-end;


	.intro {
		position: absolute;
		display: block;
		width: 100%;
		height: 100%;
		overflow: hidden;
		background-color: orange;

		video {
			width: 100%;
		}
	}

	.text {
		position: relative;
		display: flex;
		width: 100%;
		justify-content: space-between;
		padding-bottom: 20px;

		h1 {
			font-family: FontHead;
			font-size: 36px;
		}

		.insighttext {
			display: flex;
			gap: 2rem;
		}
	}
}
.section2-3-container {
	position: relative;
	color: var(--b);
	overflow: hidden;

	.section23Curtain {
		position: absolute;
		left: 0;
		bottom: 0;
		width: 100%;
		height: 500px;
		background-color: var(--blue);
	}

	.section2 {
		position: relative;
		display: flex;
		width: 100%;
		padding-top: var(--padding);
		padding-bottom: var(--padding);
		color: var(--b);

		h2 {
			width: 220px;
		}
		.text {
			width: 100%;

			p {
				max-width: 700px;
			}
		}
	}

	#flower {
		position: relative;
		display: block;
		fill: var(--blue);
		width: 90px;
		margin: auto;
	}


	.section3 {
		position: relative;
		display: flex;
		flex-direction: column;
		width: 100%;
		color: var(--t);
		padding-top: var(--padding);
		// background-color: var(--blue);

		.text-container {
			position: relative;
			display: flex;
			width: 100%;

			.text {
				width: 100%;

				p {
					max-width: 700px;
				}
			}
		}

		.problem {
			position: relative;
			width: 100%;
			overflow: hidden;
			// height: 250px;
			margin-top: calc(var(--padding)/2);

			img {
				position: relative;
				height: 100px;
				margin: 1rem 0;
				filter: drop-shadow(0px 2px 6px rgba(0, 0, 0, .4));
			}

			.problem2 {
				position: relative;
				display: flex;
				justify-content: flex-end;
			}
		}
	}
}

.section4 {
	position: relative;
	display: flex;
	width: 100%;
	padding-top: var(--padding);
	padding-bottom: 1000px;
	background-color: var(--blue);

	.text-container {
		position: relative;
		display: flex;
		width: 100%;

		.text {
			width: 100%;

			p {
				max-width: 700px;
			}
		}
	}

}