.nav-container {
	 position: absolute;
	 width: 100%;
	 top: 0;
	 left: 0;
	 display: flex;
	 padding-top: 10px;
	 z-index: 1000;
}
 .nav-logo a {
	 display: flex;
	 gap: 0.1rem;
}
 .nav-logo a p {
	 font-family: FontLogo;
	 font-size: 4rem;
	 margin: 0px;
	 margin-top: 8px;
	 color: var(--t);
}
 .nav-link {
	 position: relative;
	 margin-left: auto;
}
 .nav-link .nav-bar {
	 margin: 0px;
	 padding: 0px;
	 display: flex;
	 gap: 2rem;
}
 .nav-link .nav-bar li {
	 list-style: none;
}
 .nav-link .nav-bar li a {
	 color: var(--t);
	 font-weight: bold;
}
 .intro-container {
	 width: 100vw;
	 height: 200vh;
}
 .intro-container .intro {
	 position: sticky;
	 top: 0;
	 width: 100%;
	 height: 100vh;
	 overflow: hidden;
}
 .intro-container .intro img, .intro-container .intro video {
	 position: absolute;
	 width: 100%;
	 scale: 0.5;
	 top: 50%;
	 left: 50%;
	 translate: -50% -50%;
}
 .moka-folio {
	 width: 100%;
	 height: 100vh;
	 color: var(--b);
	 overflow: hidden;
	 background-color: var(--t);
}
 .moka-folio .moka-bandroll {
	 display: flex;
	 flex-direction: columns;
	 gap: 3rem;
	 font-family: FontLogo;
	 overflow: hidden;
}
 .moka-folio .moka-bandroll p {
	 font-size: 200px;
	 margin: 0px;
}
 .moka-folio .folio-bandroll {
	 display: flex;
	 flex-direction: columns;
	 gap: 3rem;
	 font-family: FontHead;
	 translate: -100% 0;
}
 .moka-folio .folio-bandroll p {
	 font-size: 200px;
	 margin: 0px;
}
 .i-am-good-at {
	 width: 100%;
	 height: 400vh;
	 overflow-x: hidden;
	 overflow-y: visible;
	 background-color: var(--t);
}
 .i-am-good-at .text-container {
	 width: 100%;
	/*Art-Direction*/
	/*Visual-Design*/
	/*Graphic-Design*/
	/*Brand-Identity*/
	/*UI-Design*/
	/*Hand_Drawing*/
}
 .i-am-good-at .text-container .i-am {
	 display: inline-flex;
}
 .i-am-good-at .text-container .flowers-good-at {
	 display: flex;
}
 .i-am-good-at .text-container .flowers-good-at .flowers {
	 display: flex;
	 gap: 1rem;
	 padding: 0 0.8rem;
}
 .i-am-good-at .text-container .flowers-good-at .flowers svg {
	 width: 140px;
	 margin: auto;
	 fill: var(--gr);
}
 .i-am-good-at .text-container .flowers-good-at .flowers .flower2 {
	 fill: var(--b);
}
 .i-am-good-at .text-container .flowers-good-at .good-at {
	 position: relative;
	 display: inline-flex;
	 margin-left: auto;
}
 .i-am-good-at .text-container img {
	 width: 200px;
	 position: absolute;
	 translate: -50% -50%;
}
 .i-am-good-at .text-container .sticker1 {
	 width: 300px;
	 top: 5vh;
	 left: 40vw;
	 rotate: 23deg;
}
 .i-am-good-at .text-container .sticker2 {
	 width: 340px;
	 top: 68vh;
	 left: 69vw;
	 rotate: 26deg;
}
 .i-am-good-at .text-container .sticker3 {
	 width: 220px;
	 top: -1vh;
	 left: 8vw;
	 rotate: -39deg;
}
 .i-am-good-at .text-container .sticker4 {
	 width: 300px;
	 top: 60vh;
	 left: 40vw;
	 rotate: -25deg;
}
 .i-am-good-at .text-container .sticker5 {
	 width: 250px;
	 top: 37vh;
	 left: 15vw;
	 rotate: 23deg;
}
 .i-am-good-at .text-container .sticker6 {
	 width: 200px;
	 top: 20vh;
	 left: 65vw;
	 rotate: -35deg;
}
 .i-am-good-at p {
	 font-family: FontHead;
	 color: var(--gr);
	 font-size: 250px;
	 margin: 0px;
}
/*.sticker{
	 width: 100%;
	 height: 200vh;
	 overflow: hidden;
	 background-color: var(--t);
	 .sticker-container{
		 position: relative;
		 width: 100%;
		 height: 100vh;
		 & img{
			 width: 400px;
			 position: absolute;
			 translate: -50% -50%;
		}
		 & .sticker1{
			 width: 320px;
			 translate: 15vw 30vh;
			 rotate: -26deg;
		}
		 & .sticker2{
			 top: 25%;
			 left: 73%;
			 rotate: 23deg;
		}
		 & .sticker3{
			 width: 280px;
			 top: 55%;
			 left: 60%;
			 rotate: -23deg;
		}
		 & .sticker4{
			 top: 70%;
			 left: 80%;
			 rotate: -23deg;
		}
		 & .sticker5{
			 width: 320px;
			 top: 72%;
			 left: 35%;
			 rotate: 23deg;
		}
		 & .sticker6{
			 width: 220px;
			 top: 20%;
			 left: 50%;
			 rotate: 5deg;
		}
	}
}
*/
 .test {
	 position: relative;
	 width: 100%;
	 height: auto;
	 background-color: var(--t);
	 color: var(--b);
	 overflow: hidden;
}
 .test .test-sticky-text {
	 position: absolute;
	 display: block;
	 width: 100vw;
	 left: 0;
	 z-index: 1;
	 overflow: hidden;
}
 .test .test-sticky-text .text-fill, .test .test-sticky-text .text-stroke {
	 display: block;
	 width: auto;
	 height: 200px;
	 overflow-y: hidden;
	 overflow-x: inherit;
}
 .test .test-sticky-text .text-fill {
	/* background-color: blueviolet;
	*/
	 position: relative;
}
 .test .test-sticky-text .text-fill div {
	 position: relative;
	 display: flex;
	 width: auto;
	 gap: 10rem;
}
 .test .test-sticky-text .text-stroke {
	/* background-color: orange;
	*/
}
 .test .test-sticky-text .text-stroke div {
	 display: flex;
	 gap: 10rem;
}
 .test .test-sticky-text .text-stroke div p {
	 letter-spacing: 5px;
	 color: var(--t);
	 text-shadow: 1px 1px #000, -1px -1px #000, 1px -1px #000, -1px 1px #000, 2px 0 #000, 0 2px #000, -2px 0 #000, 0 -2px #000;
}
 .test .test-sticky-text p {
	 display: inline;
	 white-space: nowrap;
	 font-family: FontHead;
	 font-size: 200px;
	 font-weight: bold;
	 margin: 0px;
	 letter-spacing: 1px;
	 margin-top: -65px;
}
 .test .showreel-container {
	 position: relative;
	 padding-top: 60vh;
	 padding-bottom: 25vh;
	 z-index: 10;
}
 .test .showreel-container div {
	 width: 70%;
}
 .test .showreel-container div img, .test .showreel-container div video {
	 width: 100%;
	 box-shadow: 6px 5px 15px rgba(0, 0, 0, .3);
}
 .test .showreel-container div:not(:last-child) {
	 margin-bottom: 90vh;
}
 .test .showreel-container div:nth-child(1) {
	 margin-left: auto;
	 margin-right: auto;
}
 .test .showreel-container div:nth-child(2) {
	 margin-left: auto;
}
 .test .showreel-container div:nth-child(3) {
	 margin-right: auto;
}
 .test2 {
	 position: relative;
	 width: 100%;
	 height: auto;
	 color: var(--b);
	 overflow: hidden !important;
}
 .test2 .content {
	 position: relative;
	 padding-top: 50vh;
	 z-index: 10;
	 color: var(--t);
}
 .test2 .content .bla-bla {
	 margin-bottom: 50vh;
	 text-align: center;
	 font-size: 40px;
	 font-weight: bold;
}
 .test2 .content div {
	 width: 100%;
	 font-size: 200px;
	 font-weight: bold;
	 text-align: center;
	 font-family: FontHead;
}
 .test2 .content div p {
	 font-family: inherits;
	 font-size: inherits;
}
 .test2 .content div:not(:last-child) {
	 margin-bottom: 70vh;
}
 .test2 .content .inspired {
	 text-align: right;
}
 .test2 .content .focused {
	 text-align: left;
	 margin-bottom: 40vh;
}
 .test2 .test-sticky-imgs {
	 position: absolute;
	 top: 0;
	 left: 0;
	 width: 100vw;
	 height: 100vh;
	 overflow: hidden;
	 z-index: 1;
}
 .test2 .test-sticky-imgs .test-sticky-imgs-zoom {
	 width: 100vw;
	 height: 100vh;
	 scale: 1.5;
	 overflow: hidden;
}
 .test2 .test-sticky-imgs .test-sticky-imgs-zoom .test-sticky-imgs-move {
	 position: relative;
	 top: -50vh;
	 width: 100%;
	 height: 150vh;
	 overflow: hidden;
}
 .test2 .test-sticky-imgs .test-sticky-imgs-zoom .test-sticky-imgs-move img {
	 position: absolute;
	 width: auto;
	 height: 100%;
	 top: 50%;
	 left: 50%;
	 translate: -50% -50%;
}
 