.olipop{
	display: flex;
	top: 50%;
	left: 50%;
	transform: translate3d(-50%, -50%, 0);
	max-width: 100%;
	max-height: 100%;
}
.olipop{
	background: var(--gr);
	animation: olopopbg 2s infinite;
}

@keyframes olopopbg{
	0%, 90%{
		background: var(--t);
	}
	20%, 70%{
		background: blueviolet;
	}
	40%{
		background: greenyellow;
	}
}

.olipop video{
	position: absolute;
	display: flex;
	top: 50%;
	left: 50%;
	transform: translate3d(-50%, -50%, 0px);
}
.bgcontent{
	background-color: var(--t);
	transition: background-color 1s cubic-bezier(.35,1.04,.62,.98);
}
.bgcontent .sticky{
	background-color: transparent !important;
}
.digitaldesign, .workcatogery, .blankspace{
	position: relative;
	display: block;
	width: 100vw;
}
.didesign, .workcontainer{
	display: block;
	top: 0;
	left: 0;
	width: 100vw;
	height: 100vh;
}
.didesign h1{
	position: absolute;
	display: inline-block;
	font-family: Fonth;
	font-size: 14vw;
	letter-spacing: 1px;
	color: black;
}
.didesign #digital{
	right: 0;
}
.didesign #designer{
	top: 14.5vw;
	left: 0;`
}
.didesign .star{
	position: absolute;
	display: block;
	bottom: 10%;
	left: 0;
	right: 0;
	margin: auto;
	width: auto;
	height: 80px;
	fill: black;
	transition: background-color .5s cubic-bezier(.35,1.04,.62,.98);
}
.workcontainer h1{
	position: absolute;
	display: inline;
	top: 0;
	left: 0;
	right: 0;
	margin: 0px;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
	font-family: Fonth;
	font-size: 14.4vw;
	letter-spacing: 2px;
	color: black;
	transform-origin: center;
	z-index: 9999;
}
#stickercontainer{
	position: relative;
	display: block;
	width: 100vw;
	height: 100vh;
	z-index: 99999;
}
#stickercontainer div{
	width: 100%;
	height: 100%;
}
#stickercontainer nav{
	position: absolute;
	top: 50%;
	left: 50%;
	pointer-events: none;
}
#stickercontainer svg{
	position: relative;
	width: 100%;
	height: auto;
	pointer-events: none;
	transition: all .2s ease-in;
}
#stickercontainer svg g{
	cursor: pointer;
	pointer-events: auto;
}
/*#stickercontainer #graphicdesigner{
	width: 270px;
	transform: translate3d(10%, -50%, 0px) scale(1.2) rotate(0deg);
	z-index: 4;
}
#stickercontainer #creation{
	width: 254px;
	transform: translate3d(-30%, -130%, 0px) scale(1.2) rotate(0deg);
	z-index: 5;
}
#stickercontainer #handdrawing{
	width: 235px;
	transform: translate3d(-50%, -50%, 0px) scale(1.2) rotate(0deg);
	z-index: 6;
}
#stickercontainer #brandidentity{
	height: 280px;
	transform: translate3d(0%, 10%, 0px) scale(1.2) rotate(0deg);
	z-index: 7;
}
#stickercontainer #artdirection{
	width: 380px;
	transform: translate3d(-110%, -70%, 0px) scale(1.2) rotate(0deg);
	z-index: 8;
}
#stickercontainer #uidesigner{
	width: 340px;
	transform: translate3d(-100%, 20%, 0px) scale(1.2) rotate(0deg);
	z-index: 9;
}
#stickercontainer #uidesigner{
	width: 340px;
	transform: translate3d(-200%, 50%, 0px) scale(.6) rotate(-10deg);
	z-index: 9;
}*/
/*#stickercontainer #graphicdesigner{
	width: 270px;
	transform: translate3d(200%, -50%, 0px) scale(.6) rotate(70deg);
	z-index: 4;
}
#stickercontainer #creation{
	width: 254px;
	transform: translate3d(40%, 100%, 0px) scale(.7) rotate(270deg);
	z-index: 5;
}
#stickercontainer #handdrawing{
	width: 235px;
	transform: translate3d(-100%, 100%, 0px) scale(.7) rotate(-27deg);
	z-index: 6;
}
#stickercontainer #brandidentity{
	height: 280px;
	transform: translate3d(100%, 50%, 0px) scale(.5) rotate(60deg);
	z-index: 7;
}
#stickercontainer #artdirection{
	width: 380px;
	transform: translate3d(-250%, -20%, 0px) scale(.6) rotate(60deg);
	z-index: 8;
}
#stickercontainer #uidesigner{
	width: 340px;
	transform: translate3d(-200%, 50%, 0px) scale(.6) rotate(-10deg);
	z-index: 9;
}*/
#stickercontainer #graphicdesigner{
	width: 270px;
	transform: translate3d(200%, 0%, 0px) scale(.6) rotate(70deg);
	z-index: 4;
}
#stickercontainer #creation{
	width: 254px;
	transform: translate3d(40%, 100%, 0px) scale(.7) rotate(270deg);
	z-index: 5;
}
#stickercontainer #handdrawing{
	width: 235px;
	transform: translate3d(-100%, 100%, 0px) scale(.7) rotate(-27deg);
	z-index: 6;
}
#stickercontainer #brandidentity{
	height: 280px;
	transform: translate3d(100%, 50%, 0px) scale(.5) rotate(60deg);
	z-index: 7;
}
#stickercontainer #artdirection{
	width: 380px;
	transform: translate3d(-250%, -20%, 0px) scale(.6) rotate(60deg);
	z-index: 8;
}
#stickercontainer #uidesigner{
	width: 340px;
	transform: translate3d(-200%, 50%, 0px) scale(.6) rotate(-10deg);
	z-index: 9;
}
#stickercontainer .checked{
	z-index: 999999999 !important;
}
#stickercontainer .done{
	transition: all .2s ease-in;
}
#stickercontainer .hovered{
	scale: .9;
	transition: all .2s ease-in;
}
#stickercontainer .hovered.hoverthis{
	scale: 1.1;
	transition: all .2s ease-in;
}






























