.head{
	position: relative;
	display: block;
	width: 100vw;
	height: 300vh;
	background-color: black;
}
.head .naviabsolute{
	position: absolute;
	display: block;
	width: 100%;
	height: 100%;
	z-index: 100;
}
.head .naviabsolute .navisticky{
	position: sticky;
	position: -webkit-sticky;
	display: flex;
	top: 50px;
	width: 100%;
	height: auto;
	padding-bottom: 30px;
}
.head .navlogo{
	position: relative;
	display: block;
	width: 30%;
	max-width: 120px;
}
.head .navlogo img{
	position: relative;
	display: block;
	width: 100%;
	height: auto;
}
.head .navlink{
	position: relative;
	display: flex;
	margin-left: auto;
}
.head .navlink a{
	font-family: Fontt2;
	color: var(--t-clr);
	align-self: flex-end;
	line-height: 1;
	text-decoration: none;
}
.head .navlink a:nth-child(2){
	margin-left: 35px;
}
.head .headcontainer{
	position: relative;
	display: block;
	width: 100%;
	height: 100%;
}
.content1{
	position: relative;
	display: block;
	width: 100%;
	height: 200vh;
}
.content1 .middlecontainer{
	position: sticky;
	position: -webkit-sticky;
	top: 0;
	display: block;
	width: 100%;
	height: 100vh;
	overflow: hidden;
}
.content2{
	position: relative;
	width: 100%;
	height: 100vh;
}
.foot{
	position: relative;
	display: block;
	width: 100%;
	height: 100vh;
	overflow: hidden;
	padding-top: 10vh;
}
.foot h1{
	font-family: Fonth;
}
.foot1{
	position: relative;
	display: flex;
	width: 100%;
	height: 50%;
}
.contactlink{
	position: relative;
	display: flex;
	width: 100%;
	margin-top: 70px;
}
.contactlink a{
	position: relative;
	display: inline-block;
	color: var(--t-clr);
	text-decoration: none;
}
.circleicon{
	position: relative;
	display: block;
	width: 100%;
	height: auto;
}
.circleicon .circle{
	position: absolute;
	display: inline-flex;
	top: 50%;
	left: 50%;
	transform: translate3d(-50%, -50%, 0px);
}
.circleicon .circle svg{
	transform-origin: center;
	animation: spinsocks 18s linear infinite;
}
.circleicon .circle .textm{
	position: absolute;
	display: block;
	font-family: Fontl;
	margin: 0px;
	font-size: 150px;
	top: 50%;
	left: 50%;
	transform: translate3d(-50%, -50%, 0px);
}
.foot2{
	position: relative;
	display: block;
	width: 100%;
	height: auto;
}
.footmail{
	position: absolute;
	display: flex;
	width: 100%;
	top: 50%;
	left: 50%;
	transform: translate3d(-50%, -50%, 0px);
}
.mail{
	font-family: Fonth;
}