@font-face{
	font-family: FontText1;
	src: url(../fonts/Poppins-Regular.ttf);
	font-weight: 400;
	font-style: normal;
}
@font-face{
	font-family: FontText1;
	src: url(../fonts/Poppins-Medium.ttf);
	font-weight: 600;
	font-style: normal;
}
@font-face{
	font-family: FontText1;
	src: url(../fonts/Poppins-Bold.ttf);
	font-weight: 700;
	font-style: normal;
}

:root {
	--blue: #3252F4;
	--pink: #FF78C4;
	--padding: 200px;
}
h2 {
	font-family: FontHead;
	font-size: 27px;
}

body {
	background-color: var(--t);
}


.text-container {
	.text {
		p {
			max-width: 750px;
		}
	}
}
.section1 {
	position: relative;
	display: flex;
	width: 100%;
	background-color: var(--blue);
	overflow: hidden;


	.intro {
		position: relative;
		display: block;
		width: 100%;
		min-height: 100vh;

		video {
			position: absolute;
			top: 0;
			left: 50%;
			translate: -50% 0%;
			// width: 100%;
			height: 100%;
			vertical-align: middle !important;
		}
	}

	.text {
		position: absolute;
		top: 0;
		left: 0;
		display: flex;
		width: 100%;
		height: 100vh;
		justify-content: space-between;
		padding-bottom: 20px;
		align-items: flex-end;

		h1 {
			font-family: FontHead;
			font-size: 36px;
		}

		.insighttext {
			display: flex;
			gap: 2rem;
		}
	}
}

.section2 {
	position: relative;
	display: flex;
	flex-direction: column;
	width: 100%;
	padding-top: var(--padding);
	padding-bottom: var(--padding);
	color: var(--b);

	.text-container {
		position: relative;
		display: flex;
		width: 100%;

		.text {
			width: 100%;

			h2 {
				width: 220px;
			}
		}
	}

	#flower1 {
		position: relative;
		display: block;
		fill: var(--blue);
		width: 90px;
		margin: auto;
		padding-top: var(--padding);
	}
}


.section3 {
	position: relative;
	display: flex;
	flex-direction: column;
	width: 100%;
	color: var(--t);
	padding-top: var(--padding);
	background-color: var(--blue);

	.text-container {
		position: relative;
		display: flex;
		width: 100%;

		.text {
			width: 100%;
		}
	}

	.problem {
		position: relative;
		width: 100%;
		overflow: hidden;
		// height: 250px;
		margin-top: calc(var(--padding)/2);

		img {
			position: relative;
			height: 100px;
			margin: 1rem 0;
			filter: drop-shadow(0px 2px 6px rgba(0, 0, 0, .4));
		}

		.problem2 {
			position: relative;
			display: flex;
			justify-content: flex-end;
		}
	}
}

.section4 {
	position: relative;
	display: flex;
	width: 100%;
	padding-top: var(--padding);
	padding-bottom: var(--padding);
	background-color: var(--blue);

	.text-container {
		position: relative;
		display: flex;
		width: 100%;

		.text {
			width: 100%;
		}
	}
}

.section5 {
	position: relative;
	display: flex;
	flex-direction: column;
	width: 100%;
	padding-top: var(--padding);
	padding-bottom: var(--padding);

	#flower2 {
		position: relative;
		display: block;
		fill: var(--blue);
		width: 90px;
		margin: auto;
		padding-bottom: var(--padding);
	}

	.text-container {
		position: relative;
		display: flex;
		width: 100%;

		.text {
			width: 100%;
			color: var(--b);
		}
	}
}

.section6 {
	position: relative;
	display: flex;
	width: 100%;
	padding-bottom: var(--padding);

	.container {
		position: relative;
		display: flex;
		flex-direction: column;
		width: 100%;
		background-color: var(--blue);
		// padding-top: calc(var(--padding)*2);
		// padding-bottom: calc(var(--padding)*2);
		overflow: hidden;
		justify-content: space-evenly;
		// gap: calc(var(--padding)/2);
		aspect-ratio: 2/1;

		.img-div {
			position: relative;
			display: flex;
			height: 30%;
			gap: 5rem;

			img {
				filter: drop-shadow(-3px 5px 5px rgba(0, 0, 0, 25%));
			}
		}

		.s6-d1 {
			translate: 200px 0px;
		}
		.s6-d2 {
			translate: 400px 0px;
		}
	}
}
.section7 {
	position: relative;
	width: 100%;
	overflow: hidden;
	aspect-ratio: 16/9;

	img {
		position: relative;
		top: 0;
		left: 50%;
		translate: -50% 0;
		width: 100%;
	}
}

.section8 {
	position: relative;
	width: 100%;
	padding-top: var(--padding);
	padding-bottom: var(--padding);

	.container {
		position: relative;
		width: 100%;
		height: 100vh;
		overflow: hidden;

		video {
			position: relative;
			left: 50%;
			translate: -50% 0;
			height: 100%;
		}
	}
}
.section9 {
	position: relative;
	width: 100%;
	padding-bottom: var(--padding);

	img {
		width: 100%;
	}
}
.footer {
	position: relative;
	display: block;
	width: 100%;
	padding-bottom: 15px;
	// background: orange;


	.bottom{
		position: relative;
		display: flex;
		flex-direction: row;
		justify-content: space-between;
		margin: 0;
		width: 100%;
		list-style-type: none;

		p {
			color: var(--b);
			// background-color: teal;
			font-size: 18px;
			text-transform: uppercase;
		}
	}
}