:root{
	--t: #FFF4E6;
	--gr: #0F7C11;
}

.textscroll{
	position: absolute;
	top: 0;
	left: 0;
}

*{
	box-sizing: border-box;
	text-decoration: none;
	-webkit-scroll-behavior:smooth;
	scroll-behavior: smooth;
	transform-style: cubic-bezier(.24,.04,.32,.08);
}
body{
	height: 100%;
	-webkit-overscroll-behavior: none;
	-moz-overscroll-behavior: none;
	-ms-overscroll-behavior: none;
	-o-overscroll-behavior: none;
	overscroll-behavior: none;
	color: var(--t);
}
.break{
	padding-left: calc(10%);
	padding-right: calc(10%);
}